{% extends 'blog/base.html' %}

{% block title %}Password Reset Email Sent - DIY Blog{% endblock %}

{% block header %}Check Your Email{% endblock %}

{% block subheader %}We've sent you instructions for resetting your password.{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="bi bi-envelope-check" style="font-size: 3rem; color: #0d6efd;"></i>
                </div>
                <p class="card-text">
                    We've emailed you instructions for setting your password. 
                    You should receive them shortly.
                </p>
                <p class="card-text">
                    If you don't receive an email, please make sure you've entered the address you registered with, 
                    and check your spam folder.
                </p>
                <hr>
                <div class="text-center">
                    <p class="mb-0">Need help? <a href="{% url 'login' %}" class="text-decoration-none">Contact support</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 